body {
    text-align: center;
}

table {
    margin: auto;
}

.board td {
    width: 30px;
    height: 30px;
    text-align: center;
    transition: 0.5s;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(175, 175, 175, 0.616);
    margin: auto;
}

.revealed {
    background-color: rgba(236, 227, 227, 0.616) !important;
    color: black;
    font-weight: bold;
}

.first-container {
    background-color: rgba(175, 175, 175, 0.616);
    margin: auto;
    width: 140px;
    border: 1px solid black;
}